body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.game-board {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #00B2D6;
  float: left;
  color: white;
  font: 75px "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin: 5px;
  padding: 0;
  text-align: center;
  width: 100px;
  /* Makes X and Os look receded */
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a4d6dd+0,5acedd+50,00c2e0+100 */
  background: #a4d6dd; /* Old browsers */
  background: -moz-linear-gradient(top, #a4d6dd 0%, #5acedd 50%, #00c2e0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a4d6dd 0%,#5acedd 50%,#00c2e0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a4d6dd 0%,#5acedd 50%,#00c2e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4d6dd', endColorstr='#00c2e0',GradientType=0 ); /* IE6-9 */

  /* Round edges */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  /* 3D effect and second shadow */)
  -webkit-box-shadow: 0px 6px 0px #00B2D6, 0px 3px 15px rgba(0,0,0,.4);
  -moz-box-shadow: 0px 6px 0px #00B2D6, 0px 3px 15px rgba(0,0,0,.4);
  box-shadow: 0px 6px 0px #00B2D6, 0px 3px 15px rgba(0,0,0,.4);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
